body{
  margin: auto;
  background-color: #ADD8E6;
  background-image: url(img/skis.jpg);
}

h1{
  text-align: center;
  text-decoration: underline;
  margin: auto;
}
h2{
  text-align: center;
  text-decoration: underline;
  margin: auto;
  width: 1700px;
}
p{
  color: white;
  background-color: black;
}

footer{
  text-align: center;
  width: 450px;
  font-size: 20px;
  margin: auto;
}

.topnav {
  overflow: hidden;
  background-color: blue;
  margin: auto;
  display: block;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding: 2px solid;
  border-right: 4px solid black;
}

.topnav a:hover {
  background-color: #002393;

}
}

.sign{
  float: right;
}


.contact{
  float: right;
}

.Titre{
  font-size: 35px;
  font-family: Georgia, sans-serif;
  text-decoration: underline;
  font-style: italic;
  background-color: #3361FF;
}

.texte{
  background-color: grey;
  font-size: 40px;
  font-family: Georgia, sans-serif;
  text-align: center;
  width: 1300px;
  border: 1px solid black;
  padding: 12px;
  border-color: #FFFFFF;
  margin: auto;
}

.carte{
  display: flex;
  margin: auto;
  margin-top: 15px;
}

.imgheader {
width: 100%
height:auto;


}

.hautpage{
  text-align: center;
  font-size: 25px;
}
