body{
  margin:auto;
}


.topnav {
  overflow: hidden;
  background-color: blue;
  margin: auto;
  display: block;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding: 2px solid;
}

.topnav a:hover {
  background-color: #002393;

}

.sign{
  float: right;
}

.carte{
  display: flex;
  margin: auto;
  margin-top: 15px;
}
