body{
  margin:auto;
}

h1{
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
}

footer{
  text-align: center;
  width: 450px;
  font-size: 20px;
  margin: auto;
  padding: 15px;
}
input{
  color: white;
  background-color: blue;
  border-radius: 25px;
}

.topnav {
  overflow: hidden;
  background-color: blue;
  margin: auto;
  display: block ruby;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding: 2px solid;
  border-right: 4px solid black;
  display: flex;
}
.rightpart{
float: left;

}

.topnav a:hover {
  background-color: #002393;

}

.sign{
  float: right;
  color: white;
}

.carte{
  display: flex;
  margin: auto;
  margin-top: 15px;
}

.imgheader {
width: 100%
height:auto;


}
.texte{
  background-color: #002393;
  font-size: 40px;
  text-align: center;
  width: 1300px;
  border: 1px solid black;
  padding: 12px;
  border-color: #FFFFFF;
  margin: auto;
  margin-top: 0px;
  color: white;
}

.texte_description{
  background-color: #696969;
  font-size: 30px;
  text-align: justify;
  width: 1300px;
  border: 1px solid black;
  padding: 12px;
  border-color: #FFFFFF;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}


.containers{
  display: flex;
      justify-content: center;
      margin:15px;
      flex-wrap: wrap;
}

.container{
text-align:center;
border: 2px solid grey;
width: 300px;
padding: 15px;
margin: 10px;
text-decoration: none;

}

.hautpage{
  text-align: center;
  font-size: 25px;
}

.container:hover{
border: 2px solid black;

}

.imgcont{
  height: 12vw;
width: 250px;

}

.image{
  display: flex;
  margin-left: auto;
  margin-right: auto;
    width: 700px;
    height: 700px;
  border: 2px solid red;
}

.image2{
  display: flex;
  margin-left: auto;
  margin-right: auto;
    width: 1000px;
    height: 500px;
  border: 2px solid red;
}

.image3{
  display: flex;
  margin-left: auto;
  margin-right: auto;
    width: 1300px;
    height: 500px;
  border: 2px solid red;
}

.image4{
  display: flex;
  margin-left: auto;
  margin-right: auto;
    width: 700px;
    height: 1000px;
  border: 2px solid red;
}

.retour{
float: left;
opacity: 1;

}

.signin {
    text-align: center;
    padding: 20px;
    width: 300px;
    margin: auto;
    border: 2px solid;
    margin-top: 25px;
    border-radius: 50px;
}

.profile{
  text-align: center;
      width: 300px;
      margin: auto;
      border: 2px solid;
      border-radius: 25px;
      margin-top: 20px;

}
.idea{
  display: flex;
  justify-content: center;
  width: 600px;
  flex-wrap: wrap;
  margin: auto;
  border: 2px solid;
  padding: 20px;
  margin-bottom: 10px;
  flex-direction: column;
  text-align: center;
}
textarea {
  width: 75%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
margin: auto;
    display: flex;
  resize: none;

}

.commentform{


}
